@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.weather-app {
  margin: 0 20px;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

body {
  background-color:skyblue;
}
